<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<form method="Post" action="/Post"> <br>
    <input type="first" name="first" id="first"/><br> <br>
    <select name="Znak" id="Znak"> <br> <br>
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select><br> <br>
    <input type="second" name="second" id="second"/><br> <br>
    <input  type="submit" value="Итог:"/> <br>
</form> <br>
<a  href="/">Назад</a> <br>
</body>
</html>